@model GoldSandsApp.Models.Entities.Leads
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@*@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}*@

<div class="page-container">

    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <form class="form-header" action="" method="POST">
                        <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                    <div class="header-button">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="~/Assets/images/icon/user.png" alt="Wellcome: " />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">@User.Identity.Name</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Assets/images/icon/user.png" alt="Wellcome: " />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="text">
                                                    <a href="#">@User.Identity.Name</a>
                                                </h5>
                                                <span class="email">@User.Identity.Name</span>
                                            </div>
                                        </div>

                                        <div class="account-dropdown__footer">
                                            <a asp-action="SignOut" asp-controller="Account">
                                                <i class="zmdi zmdi-power"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER DESKTOP-->
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Admin Overview</h2>

                            </div>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-upload"></i>
                                <strong class="card-title pl-2">Upload Bulk Leads</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <div class="container">
                                        <form enctype="multipart/form-data" method="post" asp-controller="BulkLeads" asp-action="Upload">
                                            <dl>
                                                <dt>
                                                    <label>Upload Excle File:</label>
                                                </dt>
                                                <dd>
                                                    <input type="file" name="FormFile" id="FormFile">

                                                </dd>
                                            </dl>
                                            <input class="btn btn-danger" type="submit" value="Upload" />
                                        </form>
                                        <br />

                                        <div class="row">
                                            <!--Show Message if file is uploaded or not-->
                                            @ViewBag.Message
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    &copy; 2022 - GoldSandsApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
</div>