@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div style="height: 500px; background-color: #004564;">
                <h1 class="display-4 ml-3 text-white text-center fs-3">Welcome To <br /> <strong class="text-warning">GoldSands Group.</strong> </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <img src="~/images/BaysandsBG.jpg" style="height:500px;" class="img-fluid" alt="Alternate Text" />
            </div>
        </div>

    </div>
</div>